*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-wrap: wrap;
}

a{
  /* display: inline-block; */
  text-align: center;
  font-family: Monospace;
  font-size: 18px;
  color: black;
  text-decoration: none;
  width: 50%;
  margin: 20px 25%;
  border: 2px black solid;
  padding: 20px 0;
}

a:visited{
  color: black;
}
